<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Национальная сборная</title>
    <style>
        header {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 1em
        }
        nav {
            float: left;
            width: 100%!;
            padding: 1em
        }

    </style>
</head>
<body>
<header>
    <h1>Национальная сборная</h1>
</header>

<nav>
    <h1>Матчи</h1>
        <div>
        {%  for match in matches  %}

            {% if match.goals_first_team is not None and match.goals_second_team is not None %}
            <h4>{{ match.first_team }} - {{ match.second_team }}</h4>
            <p>{{ match.goals_first_team }} - {{ match.goals_second_team }}</p>
            <p>{{  match.time  }}</p>
            {% else %}
            <h4>{{ match.first_team }} - {{ match.second_team }}</h4>
            <p>-- - --</p>
            <p>{{  match.time  }}</p>
            {% endif %}
        </div>
        {%  endfor  %}

</nav>

<main>
    <section id="section1">
        <h2><a href="news">Новости</a></h2>
        {% for news in news_list %}
          <div>
              <h4><a href="news/{{ news.id }}">{{  news.title  }}</a></h4>
              <p>Дата публикации: {{  news.date  }}</p>
          </div>
        {%  endfor  %}
    </section>

    <img src="../media/images/История_сборной.png" alt="История сборной">
    <h2>История сборной</h2>

    <h3>Первый товарищеский матч - 28.10.1992</h3>
    <p>Международная товарищеская игра со сборной Украины на минском стадионе «Динамо» завершилась вничью 1:1,
    а первый гол в составе нашей команды провел нападающий Сергей Гоцманов.</p>

    <h3>Первый матч отбора чемпионата Европы УЕФА - 07.09.1994</h3>
    <p>Национальная сборная Беларуси провела первую официальную игру в Осло.
    Выездное противостояние квалификации чемпионата континента с Норвегией
    завершилось минимальным поражением команды Сергея Боровского 0:1.</p>

    <h3>Первый матч отбора чемпионата мира ФИФА - 01.06.1996</h3>
    <p>На старте квалификации чемпионата мира ФИФА 1998 «белакрылыя» крупно уступили Швеции – 1:5.
    Первый матч отбора также проходил на выезде – в Стокгольме, а единственный мяч в составе
    нашей команды на свой счет записал Валентин Белькевич.</p>
</main>
</body>
</html>