<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ player.first_name }} {{ player.last_name }}</title>
    <style>
        .player {
            border: 1px solid #ccc;
            padding: 20px;
            max-width: 300px;
            margin: auto
        }
        .info {font-weight: bold}
    </style>
</head>
<body>
<div class="player">
    <p class="info">Имя:</p>
    <p>{{ player.first_name }}</p>
    <p class="info">Фамилия:</p>
    <p>{{ player.last_name }}</p>
    <p class="info">Возраст:</p>
    <p>{{ player.age }}</p>
    <p class="info">Национальность:</p>
    <p>{{ player.nationality }}</p>
    <p class="info">Команда:</p>
    <p>{{ player.team.name }}</p>
    <p class="info">Голы:</p>
    <p>{{ player.goals }}</p>
</div>
</body>
</html>