<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Бомбардиры</title>
    <style>
      table {width: 80%}
      th, td {
        text-align: left;
        padding: 8px;
      }
      th {
        background-color: #4CAF50;
        color: white;
      }
    </style>
</head>
    <table>
      <thead>
        <tr>
          <th>Имя</th>
          <th>Фамилия</th>
          <th>Команда</th>
          <th>Количество голов</th>
        </tr>
      </thead>
      <tbody>
        {% for player in players %}
        <tr>
          <td>{{ player.first_name }}</td>
          <td>{{ player.last_name }}</td>
          <td>{{ player.team }}</td>
          <td>{{ player.goals }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
