<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{{  info.name  }}</title>
    <style>
        li {margin-bottom: 15px}
    </style>
</head>
<body>
    <h1>{{  info.name  }}</h1>
    <img src="{% static info.team_logo  %}" height="150">
    <div>
        <p>{{  info.info  }}</p>

        <h2>Игроки команды:</h2>
        <ul>
          {% for player in players %}
            <li><a href="player_info/{{ player.id }}"> {{  player.first_name  }} {{  player.last_name  }}</a></li>
          {% endfor %}
        </ul>
    </div>
</body>
</html>


